<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308751611703-3ad3rsh9q0o1dhjod6tco8t7jl0c48fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308751611703-3ad3rsh9q0o1dhjod6tco8t7jl0c48fs</string>
	<key>API_KEY</key>
	<string>AIzaSyBWLbHfLqjCbh4YLZCmrI_9og49EqNUm0A</string>
	<key>GCM_SENDER_ID</key>
	<string>308751611703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cvac.app</string>
	<key>PROJECT_ID</key>
	<string>cvac-e6099</string>
	<key>STORAGE_BUCKET</key>
	<string>cvac-e6099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308751611703:ios:e6f30ddd551c8801bc8cb2</string>
</dict>
</plist>